{
  "bots": {

    "bot_comment": "add as many bots as you want, recommend 5 bots per proxy or niantic will ip ban",
    "BotOne": {

      "proxy_comment": "proxy to use leave, ip, port, user, password blank to not use proxy",
      "proxy": {
        "ip": "192.168.2.1",
        "port": "8080",
        "login_comment": "leave user, password blank if proxy doesn't require authentication",
        "user": "trump",
        "password": "build_it_tall"
      },

      "google_description": "google login, replace with ptc for ptc login",
      "google": {
        "username": "example_username",
        "password": "example_password"
      },

      "location": {
        "latitude": "80",
        "longitude": "100",
        "walking_step_distance_comment": "how long a step is in meters, 1 is a good number",
        "walking_step_distance": "1",
        "max_speed_walking_comment": "max walking speed in meters per second",
        "max_speed_walking": "4",
        "running_step_distance": "5",
        "max_distance_comment": "max distance bot can get from starting location in meters, set to -1 to ignore",
        "max_distance": "1000",
        "time_reset_comment": "time until bot resets to start location in seconds, set to -1 to ignore",
        "time_reset": "240"
      },

      "farming": {
        "catch_pokemon": "true",
        "loot_pokestops": "true",

        "evolve_pokemon": {
          "evolve": "true",
          "keep_unevolved_comment": "add pokemon names you don't want evolved. list of names in pokemon_names.txt",
          "keep_unevolved": [
            "ABRA",
            "KADABRA"
          ]
        },

        "transfer_pokemon": {
          "transfer": "true",
          "iv_over_cp_comment": "treat iv as more important than cp",
          "iv_over_cp": "false",
          "threshold_comment": "minimum iv, cp to keep pokemon",
          "threshold_iv": "80",
          "treshold_cp": "400",
          "obligatory_comment": "transfer regardless of cp, iv",
          "obligatory": [
            "DODUO",
            "RATTATA",
            "CATERPIE",
            "PIDGEY"
          ],

          "protect_comment": "add pokemon names you don't want to transfer. list of names in pokemon_names.txt",
          "protect": [
            "EEVEE",
            "MEWTWO"
          ]
        }
      }
    }
  }
}